<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="con" connectionString="Data Source=.;Initial Catalog=Passwords;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="PasswordManager2019.Properties.Settings.PasswordsConnectionString"
      connectionString="Data Source=DESKTOP-9O0SB7I;Initial Catalog=Passwords;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>